* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('image/uni.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.contact-container {
    background-color: rgba(255, 255, 255, 0.658);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

label {
    font-weight: 600;
}

input, textarea {
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

.btn-submit {
    width: 100%;
    background: #1e90ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #0a38d1ad;
}

/* Success Message */
#success-message {
    display: none;
    background: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 450px;
}

#success-message i {
    font-size: 50px;
    color: green;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}
